.font{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(163, 167, 186);
    width: 150px;
    margin: auto;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 4px;
    


}
.font1{
    margin-left: 33px;
    margin-right: 50px;   
}
p{
    text-align: center;

}
.footer{
    background-color: aqua;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}