.input{
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
}
.search{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 8px;
}
.btnsearch{
    background-color: rgb(211, 86, 23);
    height: 50px;
    width: 100px;
    align-self: center;
    font-size: 16px;
    margin: 10px;
    color: black;
    border-radius: 20px;
}
.btnorden{
    background-color: darkblue;
    color: white;
    height: 50px;
    width: 300px;
    align-self: center;
    font-size: larger;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}